<div class="container mx-auto mt-auto mb-5 d-flex">
  <div class="row m-auto flex-column">
    <a href="#" class="btn rounded btn-outline-secondary bg-dark text-light px-5 py-3 d-flex mt-2">
      <i class="fa fa-play-circle fa-2x mr-3"></i>
      <span class='m-auto'>WATCH TEASER</span>
    </a>
    <a href="#" class="btn rounded btn-outline-secondary bg-dark text-light px-5 py-3 d-flex mt-2">
      <i class="fa fa-steam fa-2x mr-3"></i>
      <span class='m-auto'>WHISTLIST ON</span>
    </a>
  </div>
</div>
