<footer class="footer d-flex justify-content-center flex-column p-3">
  <div class="row flex-row p-3">
    <i class="fa fa-cogs fa-3x my-auto ml-auto mr-3"></i>
    <div class="d-flex flex-column mr-auto ml-3">
      <p class="text-muted m-0">Canada Media Fund</p>
      <p class="text-muted m-0">Fonds des medias du Canada</p>
    </div>
  </div>
</footer>
