<nav class="navbar navbar-expand-lg bg-black navbar-dark p-3">
  <a class="navbar-brand text-uppercase text-white font-weight-bold" href="#">Clever Plays</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-uppercase text-white font-weight-light" href="#">games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase text-white font-weight-light" href="#">news</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase text-white font-weight-light" href="#">about us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase text-white font-weight-light" href="#">contact</a>
      </li>
    </ul>
  </div>
</nav>
