<div class="container-flex bg-dark p-5 d-flex justify-content-center">
  <div class="row">
    <div class="col-md bg-dark d-flex">
      <p class="text-white text-uppercase font-weight-light my-auto text-left">Receive news about our games</p>
    </div>
    <div class="col-md">
      <form action="#" class="d-flex">
        <input type="email" class="form-control rounded-0" id="emailinput" aria-describedby="emailHelp" placeholder="Enter email">
        <button type="submit" class="btn btn-outline-secondary rounded-0 m-auto text-white">Submit</button>
      </form>
    </div>
  </div>
</div>
