<div class="container mx-auto mt-5 mb-auto d-flex">
  <div class="row m-auto">
    <div class="col-12">
      <p class="text-left text-weight-light">F<i class="fab fa-instagram"></i>ollow</p>
    </div>
    <div class="col">
      <i class="fa fa-twitter fa-3x mr-2"></i>
      <i class="fa fa-facebook-f fa-3x mr-2"></i>
      <i class="fa fa-instagram fa-3x mr-2"></i>
    </div>
  </div>
</div>
