<div class="container-fluid bg-dark p-0" id="background">
  <%= video_tag(
        'space.mp4',
        id: 'background',
        autoplay: true,
        loop: true,
        muted: true,
        poster: 'space.mp4'
      ) %>
      <%= render 'shared/nav' %>
</div>
