<div class="container-fluid p-0" id="background">
  <div class="h-100vh overflow-hidden">
    <%= render 'shared/nav' %>
    <%= render 'shared/video' %>
  </div>
  <div class="h-100vh">
    <%= render 'shared/second_layer' %>
    <%= render 'shared/footer' %>
  </div>
</div>
