<div class="container-fluid bg-light p-0 h-100vh" id="background">
  <div class="h-100vh">
    <%= render 'shared/nav' %>
    <%= render 'shared/video' %>
  </div>
  <%= render 'shared/second_layer' %>
  <%= render 'shared/footer' %>
</div>
