@import "bootstrap/scss/bootstrap";
@import "font-awesome";

#background {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  background-size: cover;
  background-position: center;
}

.bg-black {
  background: black;
}

.h-100vh {
  height: 100vh !important;
}

.overflow-hidden {
  overflow: hidden;
}
